/* Name:Shahane,Shweta
  Acc_No:jadrn058 */

.banner {
        height:60px;
        background: #EA3C53;
        border:2px solid #EA3C53;
        width: 1260px;
        border-radius: 05px;
        margin-left: auto;
    }
.shopname{
        color: white;
        font-family: 'Trebuchet MS';
        font-size: 28px;
        font-weight: bold;
        padding-top: 10px;
        padding-left: 20px;
        padding-bottom: 10px;
    }
.titleo{
  font-family: 'Trebuchet MS';
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}
.shippingcontent{
  font-family: 'Trebuchet MS';
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    float: right;
    margin-right: 20px;
    padding: 10px;
    border: 2px solid black;
    width: 500px;
    text-align: left;
}
.addresstable{
  font-family: 'Trebuchet MS';
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.ship_table_content td, .ship_table_content th {
    padding: 15px;
    text-align: center;
}

.ordercontent{
  font-family: 'Trebuchet MS';
  font-size: 18px;
  font-weight: bold;
  float: left;
  margin-top: 20px;
  margin-left: 20px;
  padding: 10px;
  border: 2px solid black;
  width: 660px;
  text-align: left;
}

.checkout_button{
  background-color: #000000;
border-radius: 3px;
color: white;
border: none;
text-align: center;
font-family: 'Trebuchet MS';
font-size: 16px;
padding: 5px 20px;
border-color: #000000;
cursor: pointer;
position: absolute;
padding: 8px;
left: 60%;
bottom: 20%;
font-weight: bold;
}

.cancel_button{
  background-color: #000000;
border-radius: 3px;
color: white;
border: none;
text-align: center;
font-family: 'Trebuchet MS';
font-size: 16px;
padding: 5px 20px;
border-color: #000000;
cursor: pointer;
position: absolute;
padding: 8px;
left: 70%;
bottom: 20%;
text-decoration: none;
}

.order_table_content{
  font-family: 'Trebuchet MS';
  font-size: 18px;
  padding: 10px;
  border:2px solid black;
  border-collapse: collapse;
}

.order_table_content tr td, .order_table_content th{
    border: 2px solid black;
    padding: 25px;
    text-align: center;
}

.order_table_content .update_quantity{
  height: 28px;
  width: 70px;
  border-radius: 3px;
  padding-left: 20px;
  font-size: 16px;
  font-family: 'Trebuchet MS';
  border: none;
}

.completeOrderCost{
  font-family: 'Trebuchet MS';
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    float: right;
    margin-right: 20px;
    padding: 10px;
    border: 2px solid black;
    width: 500px;
    text-align: left;
}

.thanks{
  font-family: 'Trebuchet MS';
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}
.continue{
  font-family: 'Trebuchet MS';
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.nav{
  margin-top: 10px;
  text-align: center;
  font-family: 'Trebuchet MS';
  font-size: 22px;
}
.nava{
  margin-top: 10px;
}

.addrtable{
  border: 4px solid black;
  height: 600px;
  width: 900px;
  position: relative;
  left: 100px;
  padding-right: 50px;
  padding-left: 10px;
  top: 30px;
}


.order_button{
  background-color: #000000;
  border-radius: 3px;
  color: white;
  border: none;
  text-align: center;
  font-family: 'Trebuchet MS';
  font-size: 16px;
  padding: 5px 20px;
  border-color: #000000;
  cursor: pointer;
  position: relative;
  bottom: 330px;
  text-decoration: none;
  left: 745px;
}
